* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%), url("/Assests/images/hacker girl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;

}
.container h2:nth-child(1){
    position: absolute;
    left: 11%;
    top: 30%;
    font-size: 40px;
}
.container h2:nth-child(2){
    position: absolute;
    left: 15%;
    top: 40%;
    font-size: 40px;
    color: gold;

}
.container img{
    position: absolute;
    left: 20%;
    top: 50%;
    border-radius: 100%;
}
.container form {
    width: 680px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    flex-wrap: wrap;
    position: absolute;
    left: 45%;
    top: 20%;
}

.container form h1 {
    color: white;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input {
    width: 260px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 11px;
    background: none;
    border-bottom: 2px solid white;
}
.container form input:hover{
    border-bottom: 2px solid gold;

}
.container form input::placeholder {
    color: white;
}

.container #Name,
.container #Email {
    margin-left: 20px;
}

.container form h4 {
    color: white;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
    margin-left: 85px;
}

.container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 550px;
    max-width: 550px;
    min-height: 70px;
    max-height: 70px;
    margin-left: 40px;
    /*margin-top: 20px;*/


}
.container form textarea:hover{
    border-bottom: 2px solid gold;

}
.container form #button {
    border: none;
    background: white;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    width: 100px;
}
.container form #button:hover{
    opacity: 0.7;
    background: gold;
}
@media all and (min-width: 768px) and (max-width: 1024px) {

    .container h2:nth-child(1){
        position: absolute;
        left: 6%;
        top: 30%;
        font-size: 30px;
    }
    .container h2:nth-child(2){
        position: absolute;
        left: 8%;
        top: 40%;
        font-size: 30px;
        color: gold;

    }
    .container img{
        position: absolute;
        left: 12%;
        top: 50%;
        border-radius: 100%;
    }
    .container form {
        width: 650px;
        height: 400px;
        display: flex;
        justify-content: center;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(9px);
        flex-wrap: wrap;
        position: absolute;
        left: 30%;
        top: 20%;
    }
}
/*Tablet 425-768*/
@media all and (min-width: 425px) and (max-width: 768px) {


    .container h2:nth-child(1){
        position: absolute;
        left: 4%;
        top: 35%;
        font-size: 30px;
    }
    .container h2:nth-child(2){
        position: absolute;
        left: 5%;
        top: 45%;
        font-size: 27px;
        color: gold;

    }
    .container img{
        position: absolute;
        left: 17%;
        top: 55%;
        border-radius: 100%;
        height: 60px;
        width: 60px;
    }
    .container form {
        width: 500px;
        height: 350px;
        display: flex;
        justify-content: center;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(9px);
        flex-wrap: wrap;
        position: absolute;
        left: 31%;
        top: 25%;
    }

    .container form h1 {
        color: white;
        font-weight: 400;
        margin-top: 20px;
        width: 400px;
        font-size: 30px;
        text-align: center;
    }

    .container form input {
        width: 200px;
        height: 40px;
        padding-left: 10px;
        outline: none;
        border: none;
        font-size: 15px;
        margin-bottom: 11px;
        background: none;
        border-bottom: 2px solid white;
    }
    .container form input:hover{
        border-bottom: 2px solid gold;

    }
    .container form input::placeholder {
        color: white;
    }

    .container #Name,
    .container #Email {
        margin-left: 20px;
    }

    .container form h4 {
        color: white;
        font-weight: 300;
        width: 400px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .container form textarea {
        background: none;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        font-weight: 200;
        font-size: 15px;
        padding: 10px;
        outline: none;
        min-width: 420px;
        max-width: 420px;
        min-height: 70px;
        max-height: 70px;
        margin-left: 30px;
        /*margin-top: 20px;*/


    }
    .container form textarea:hover{
        border-bottom: 2px solid gold;

    }
    .container form #button {
        border: none;
        background: white;
        border-radius: 5px;
        margin-top: 20px;
        font-weight: 600;
        font-size: 18px;
        color: black;
        width: 90px;
    }
    .container form #button:hover{
        opacity: 0.7;
        background: gold;
    }
}