* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 11vh;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 3;
    color: white;
    font-family: sans-serif;
    line-height: 23px;

}

h3 {
    margin-top: 25px;
    font-size: 20px;
    margin-left: 10px;

}

header ul {
    float: right;
    margin-right: 40px;
    margin-top: -20px;

}

header ul li {
    float: left;
    list-style: none;
    position: relative;
    margin-left: 15px;
}

header ul li a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    padding: 15px 18px;
    display: block;
}

header ul li a:hover {
    background-color: #1B191A;
    color: gold;
}

header ul li ul {
    position: absolute;
    display: none;
    background-color: black;
    border-radius: 0px 0px 5px 5px;

}

header ul li:hover ul {
    display: block;
}

header ul li ul {
    margin-top: 3px;
    line-height: 1.5;
    width: 190px;
    border-radius: 5px;
    padding: 6px;
}

header ul li ul a {
    padding: 14px 16px;
}

header ul li ul a:hover {
    background-color: #1B191A;
    color: gold;

}

main {
    /*width: 100%;*/
    background-color: black;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    /*margin-top: 50px;*/

}

main > .section_01 {
    width: 100%;
    height: 100vh;
    /*border-radius: 40px;*/
    /*display: flex; !* Set the element to use flexbox *!*/
    /*justify-content: center; !* Center the content horizontally *!*/
    /*align-items: center; !* Center the content vertically *!*/
    /*text-align: center;*/
    position: relative;
    /*background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url("../images/backgroundImages/1st sec.jpg");*/
    /*!*background-color: #000000;*!*/
    /*margin: auto;*/
    /*margin-top: 30px;*/
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url("../images/backgroundImages/1st sec.jpg");
    /*background-image: url("/Assests/images/gold-glitter-abstract-sparkle-burst-background-illustration.jpg");*/
    background-size: cover;
    background-position: center;
    background-color: #1B191A;
    margin-top: 30px;

}


main > .section_02 {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url("../images/backgroundImages/sec 02.jpg");
    /*background-image: url("/Assests/images/gold-glitter-abstract-sparkle-burst-background-illustration.jpg");*/
    background-size: cover;
    background-position: center;
    background-color: #1B191A;
    height: 100vh;
    margin-top: 10px;
    position: relative;

}

main > .section_03 {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url("/Assests/images/backgroundImages/sec 03.jpg");
    background-size: cover;
    background-position: center;
    background-color: #1B191A;
    height: 100vh;
    margin-top: 10px;
    position: relative;


}

main > .section_04 {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url("/Assests/images/backgroundImages/sec 04.jpg");
    /*background-image: url("/Assests/images/gold-glitter-abstract-sparkle-burst-background-illustration.jpg");*/
    background-size: cover;
    background-position: center;
    background-color: #1B191A;
    position: relative;
    height: 100vh;
    margin-top: 10px;
}

main > .section_05 {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url("/Assests/images/backgroundImages/sec 05.jpg");
    /*background-image: url("/Assests/images/gold-glitter-abstract-sparkle-burst-background-illustration.jpg");*/
    background-size: cover;
    background-position: center;
    background-color: #1B191A;
    height: 100vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main > .section_06 {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url("/Assests/images/backgroundImages/sec 04.jpg");
    /*background-image: url("/Assests/images/gold-glitter-abstract-sparkle-burst-background-illustration.jpg");*/
    background-size: cover;
    background-position: center;
    background-color: #1B191A;
    height: 100vh;
    margin-top: 10px;
    position: relative;

}

main > .section_07 {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url("/Assests/images/backgroundImages/sec 07.jpg");
    /*background-image: url("/Assests/images/gold-glitter-abstract-sparkle-burst-background-illustration.jpg");*/
    background-size: cover;
    background-position: center;
    background-color: #1B191A;
    height: 90vh;
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
    border: 3px solid black;

}

.section_01 > aside > h3:nth-child(1) {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 30px;
}

.section_01 > aside > h1:nth-child(2) {
    position: absolute;
    top: 25%;
    left: 10.5%;
    font-size: 50px;
    transition: background-color 0.3s ease;


}

.section_01 > aside > h1:nth-child(2):hover {
    color: gold;
    /*color: rgba(0%, 0%, 0%, 0.1%);*/
}

.section_01 > aside > h3:nth-child(3) {
    position: absolute;
    top: 36%;
    left: 10%;
}

.section_01 > aside > h1:nth-child(4) {
    position: absolute;
    top: 35%;
    left: 17%;
    color: gold;
}

.section_01 > aside > h1:nth-child(5) {
    position: absolute;
    top: 42%;
    left: 10.5%;
    color: gold;
}

.section_01 > aside > p:nth-child(6) {
    position: absolute;
    top: 54%;
    left: 10.5%;
    font-size: 20px;
}

.section_01 > aside > button:nth-child(7) {
    position: absolute;
    top: 65%;
    left: 10.5%;
    border: 2px solid white;
    /*background: linear-gradient(to right, gold, white);*/
    background-color: black;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.section_01 > aside > button:nth-child(7):hover {
    background: linear-gradient(to right, gold, white);
    border: 4px solid black;
    /*background-color: white;*/
    color: black;
    transform: scaleX(1);
}

.section_01 > .sub_section {
    position: absolute;
    top: 10%;
    left: 60%;
    height: 500px;
    width: 500px;
    background-image: url("../images/hacker girl.jpg");
    background-size: 100% 100%;
}


.section_01 > div:nth-child(3) {
    width: 100px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    /*animation-name: circle;*/
    /*animation-duration: 0.2s;*/
    /*animation-iteration-count: infinite;*/
    animation: circle 0.5s infinite;

    /*animation-timing-function: linear;*/
}

.section_01 > div:nth-child(4) {
    width: 100px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 100%;
    position: absolute;
    top: 20%;
    left: 60%;
    animation: circle 0.5s infinite;

}

.section_01 > div:nth-child(5) {
    width: 100px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 85%;
    animation: circle 0.5s infinite;

}

.section_01 > div:nth-child(7) {
    width: 100px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: 1%;
    /*animation-name: circle;*/
    /*animation-duration: 0.2s;*/
    /*animation-iteration-count: infinite;*/
    animation: circle 0.5s infinite;

    /*animation-timing-function: linear;*/
}

.section_01 > div:nth-child(8) {
    width: 100px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: 40%;
    /*animation-name: circle;*/
    /*animation-duration: 0.2s;*/
    /*animation-iteration-count: infinite;*/
    animation: circle 0.5s infinite;

    /*animation-timing-function: linear;*/
}

.section_01 > div:nth-child(9) {
    width: 100px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 100%;
    position: absolute;
    top: 70%;
    left: 30%;
    /*animation-name: circle;*/
    /*animation-duration: 0.2s;*/
    /*animation-iteration-count: infinite;*/
    animation: circle 0.5s infinite;

    /*animation-timing-function: linear;*/
}

.section_01 > div:nth-child(10) {
    width: 100px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 100%;
    position: absolute;
    top: 75%;
    left: 5%;
    /*animation-name: circle;*/
    /*animation-duration: 0.2s;*/
    /*animation-iteration-count: infinite;*/
    animation: circle 0.5s infinite;

    /*animation-timing-function: linear;*/
}

.section_01 > div:nth-child(11) {
    width: 100px;
    height: 100px;
    border: 3px solid gold;
    border-radius: 100%;
    position: absolute;
    top: 8%;
    left: 30%;
    /*animation-name: circle;*/
    /*animation-duration: 0.2s;*/
    /*animation-iteration-count: infinite;*/
    animation: circle 0.5s infinite;

    /*animation-timing-function: linear;*/
}

.btn a {
    text-decoration: none;

}

@keyframes circle {
    /*from {*/
    /*    !*transform: rotate(0deg);*!*/
    /*}*/
    /*to {*/
    /*    transform: rotate(360deg);*/
    /*}*/
    from {
        width: 50px;
        height: 50px;
    }
    to {
        width: 80px;
        height: 80px;
    }
}

.h21 {
    padding: 50px;
    font-size: 55px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    /*margin-top: 50px;*/
    margin-bottom: 50px;
}

.h21 {
    margin: 0;
}

.section_02 > article > pre {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: -20%;
    right: 0;
    text-align: center;
    margin: auto;
    font-size: 25px;
    line-height: 1.7;
    font-weight: bold;
    font-style: italic;
}

.pre {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    color: #ffffff;
    margin-right: 115px;
    padding: 0;
}

.section_03 h2 {
    margin: 0;
}

.sub_sec {
    /*position: absolute;*/

    display: flex;
    align-items: center;
    justify-content: center;
}

.time_line {
    width: 80%;
    height: auto;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.time_line ul {
    list-style: none;
}

.time_line ul li {
    width: 50%;
    padding: 15px;
    background-color: #1B191A;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}

.time_line ul li:last-child {
    margin-bottom: 0;
}

.time_line {
    animation: movedown 5s linear forwards infinite;

}

.time_line_content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 20px;
}

.time_line:before {
    content: '';
    position: absolute;
    height: 100%;
    left: 50%;
    width: 2px;
    transform: translatex(-50%);
    background: gray;
}

.time_line ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-40px);
    border-radius: 30px 0px 30px 30px;
    /*border: 2px solid white;*/
}

.time_line ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(40px);
    border-radius: 0px 30px 30px 30px;
    /*border: 2px solid white;*/

}

.time_line ul li:nth-child(odd):after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #eeeeee;
    border-radius: 50%;
    top: 0;
    transform: translate(50%, -50%);
    right: -40px;
}

.time_line ul li:nth-child(even):after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #eeeeee;
    border-radius: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    left: -40px
}

.time_line ul li:hover:after {
    background-color: gold;

}

.time_line_content .date {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    position: absolute;
    top: -30px;
    left: 10px;
    color: gold;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

/*.section_04 h2{*/
/*    padding: 0;*/
/*    !*margin-top: 50px;*!*/
/*    font-size: 50px;*/
/*}*/
/*.h21{*/
/*}*/

.h211 {
    padding: 20px;
    font-size: 55px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
}

.section_04 .service {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
    width: 100%;
    margin: 0px;
    padding: 0;
}

/*.section_04 {*/
/*    margin: 20px;*/
/*    text-align: center;*/
/*    padding: 50px;*/
/*    height: 50vh;*/
/*}*/
.service div {
    height: 400px;
    width: 40%;
}

.div_01 {
    border: 4px solid #eeeeee;
    text-align: center;
    align-items: center;
    /*padding: 50px 25px;*/
    margin-left: 20px;
    border-radius: 50px;
}

.div_02 {
    border: 4px solid #eeeeee;
    text-align: center;
    align-items: center;
    /*padding: 30px 25px;*/
    margin-left: 30px;
    border-radius: 50px;

}


.section_04 .service h2 {
    font-size: 40px;
    margin-bottom: 10px;

}

.section_04 .service .div_01 p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 45px;
}

.section_04 .service .div_02 p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
}


.section_04 .service img {
    width: 100px;
    height: 90px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.button {
    font-size: 12px;
    text-decoration: none;
    background-color: #1B191A;
    border: 2px solid white;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;

}

.button:hover {
    font-size: 13px;
    background-color: gold;
    color: black;
    border: 2px solid black;
    transition: 0.4s ease;
}

.hr {
    width: 60%;
    margin-left: 20%;
}

.h212 {
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-bottom-width: 40px;*/
    margin-top: -100px;
    margin-bottom: 10px;
    font-size: 50px;
}
.h211{
    margin-left: 10%;
}
.slider_wrapper {
    top: 5%;
    /*padding: 10px;*/
    /*background-color: white;*/
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    left: 1%;
    height: 85vh;
    overflow: hidden;
}

.slider {
    /*padding: 5px;*/
    display: flex;
    aspect-ratio: 16/10;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 15px;
    border: 3px solid black;
    background-size: 100% 100%;
    height: 90%;

}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    background-size: 100% 100%;

}


.section_06 > section:nth-child(1) {
    border: 3px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

}

.section_06 {
    padding: 200px 300px;
}

.section_06 section .p1 {
    display: flex;
    padding-top: 40px;
    padding-right: 100px;
}

.section_06 section img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 100px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    transition: all 0.3s ease-in-out;
}

.section_06 section img:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.box{
    position: relative;
    top: -10%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.content {
    position: relative;
    width: 230px;
    height: 230px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
}
@keyframes animate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(-370deg);
    }
}
.content span{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(---i)*45deg)) translateZ(370px);
}
.content span img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    border-radius: 20px;
    transition: 1.5s;
}
.content span img:hover{
    transform: translateY(20px) scale(1.1);
    cursor: pointer;
}
/*.section_07 .no1,*/
/*.section_07 .no2,*/
/*.section_07 .no3 {*/
/*    width: 20%;*/
/*    height: 95%;*/
/*    flex-basis: calc(25% - 10px);*/
/*    box-sizing: border-box;*/
/*    padding: 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    background-color: black;*/
/*    text-align: center;*/
/*    box-shadow: -4px 4px 8px 6px gray;*/
/*    !*margin-left: 30px;*!*/

/*}*/

/*.section_07 img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.section_07 img {*/
/*    !*max-width: 50%;*!*/
/*    width: 99%;*/
/*    height: 82vh;*/
/*    display: block;*/
/*    margin: 0 0;*/
/*    filter: grayscale(50%) brightness(50%);*/

/*}*/

/*.section_07 img:hover {*/
/*    filter: grayscale(0%) brightness(100%);*/

/*}*/


body > footer {
    width: 100%;
    height: 8vh;
    background-color: white;
    bottom: 0;
    font-family: Cambria;
}

footer > .ad_01 {
    color: black;
    font-size: 20px;
    position: relative;
    margin-left: 40px;
    margin-top: -30px;
}

footer > .ad_01 > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

footer > .ad_02 > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

footer > .ad_02 {
    color: white;
    font-size: 20px;
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    position: relative;
    margin-left: 40px;
    margin-top: 10px;

}

footer > .ad_03 > div {
    position: absolute;
    right: 0;
    /*margin-top: 10px;*/
    /*margin-left: 20px;*/
    margin-top: -60px;


}

footer > .ad_03 > div > a {
    display: inline-block;
    /*margin-top: -px;*/
    margin-right: 20px;


}

footer > .ad_03 > div > a > img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
}

footer > .ad_03 > div > a > img:hover {
    transform: scale(1.2);
    cursor: pointer;
}
