* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url("/Assests/images/projects.jpg");
    background-size: cover;
    background-position: center;
    /*height: 90vh;*/
}
